.App {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: darksalmon;
}

header {
  background-color: beige;
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background-color: aliceblue;
  margin-bottom: 20px;
}